body {
    background-color: #00eeff;
}

#título {
    font-size: 80px;
    text-align: center;
    color: #ffd900;
}

 header {
    padding: 20px;
    background-color: black;
    border-bottom: 5px solid;
    font-size: 35px;
    color: blue;
 }

.texto {
        font-size: 35px;
        text-align: justify;
        color: black;
    }
    
.listas1 {
        font-size: 30px;
        text-align: center;
        list-style-position: inside;
}